{% extends 'layouts/main.twig' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="main__auth">
        <div class="container">
            <h2 style="text-align: center">Ooops... Ошибка 404</h2>
            <p style="text-align: center">К сожалению, страница не найдена.</p>
        </div>
    </div>
{% endblock %}