{% extends 'layouts/main.twig' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="main__auth">
        <div class="container">
            {% if userGroup %}<p style="text-align: center">Добро пожаловать в наш магазин {{ userName }}</p>
                {% else %} <p style="text-align: center">Добро пожаловать в наш магазин</p>
            {% endif %}
        </div>
    </div>
{% endblock %}